
/gitignore
Pandas/20240911_강의자료.ipynb
/Pandas/store
Pandas/creditcard.csv
*.weights
/Pandas2/프로젝트2/AutogluonModels
/Pandas2/프로젝트2/은행이탈고객
/Pandas2/프로젝트2
*.json
LLM/bert_ckpt/models--bert-base-multilingual-cased/blobs/2ba5de7675473164e07f3b3531748c9a6f113a2c
/LLM/bert_ckpt
LLM/KorSTS.zip
LLM/word2vec-nlp-tutorial.zip
*.pt
LLM/gpt_ckpt/tf_model.h5
LLM/20241101_1_zero_shot,_one_shot,_few_shot_프롬프트_이해_및_적용.ipynb:Zone.Identifier
LLM/data.zip
LLM/gpt_ckpt.zip
LLM/gpt_ckpt/gpt2_kor_tokenizer.spiece
LLM/2_zero_shot,_one_shot,_few_shot_프롬프트_이해_및_적용_.ipynb:Zone.Identifier
*.Identifier
LLM2/PJT3/.streamlit/secrets.toml
LLM2/PJT3/kb운전자보험.pdf
